<a href="https://colab.research.google.com/github/Anmolkr1909/Tuple/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple (  mini_project )**



---

48) Student Profile Manager

In [ ]:
student = ("Anmol Kumar", 22, "MCA", "India")

# Unpack the tuple
name, age, course, country = student

# Display student profile
print("Student Profile")
print("Name:", name)
print("Age:", age)
print("Course:", course)
print("Country:", country)

Student Profile
Name: Anmol Kumar
Age: 22
Course: MCA
Country: India



---

49) City Temperature Record

In [ ]:
# Each tuple = (City, Today's Temp)
temperatures = (("Delhi", 42), ("greater_noida", 35), ("Pune", 33), ("Lucknow", 40))

# Print city-wise temperatures
print("Today's Temperatures:")
for city, temp in temperatures:
    print(f"{city}: {temp}°C")

Today's Temperatures:
Delhi: 42°C
greater_noida: 35°C
Pune: 33°C
Lucknow: 40°C



---

50) Quiz Score Checker

In [ ]:
# Scores of students (Name, Marks)
scores = (("Anmol", 86), ("Ravi", 65), ("Priya", 69), ("Neha", 75))

# Check if someone scored more than 85
print("High Scorers (Above 85):")
for name, mark in scores:
    if mark > 85:
        print(name, "->", mark)

High Scorers (Above 85):
Anmol -> 86



---

51) Product Price List

In [ ]:
# (Product, Price)
products = (("Milk", 40), ("Bread", 25), ("Eggs", 60))

# User checks if "Bread" exists
item = "Bread"
found = False

for product in products:
    if product[0] == item:
        found = True
        print(f"Yes, {item} costs ₹{product[1]}")

if not found:
    print("Item not found.")

Yes, Bread costs ₹25



---

52) Weekly Task Schedule

In [ ]:
# Days and task tuples
week_schedule = (
    ("Monday", "Gym"),
    ("Tuesday", "Study"),
    ("Wednesday", "Shopping"),
    ("Thursday", "Project"),
    ("Friday", "Movie")
)

# Print all tasks day-wise
print("Weekly Schedule:")
for day, task in week_schedule:
    print(f"{day}: {task}")

Weekly Schedule:
Monday: Gym
Tuesday: Study
Wednesday: Shopping
Thursday: Project
Friday: Movie



---



---